<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.developer.message.mappers.PrivateMessageMapper">

    <resultMap id="BaseResultMap" type="com.developer.message.pojo.PrivateMessagePO"/>

    <sql id="Base_Column_list">
        id, uid_a, uid_b, send_id, receiver_id, conv_seq, content, content_type, status, read_status, send_time, reference_id, like_count, extra, visible_to_oneself, create_time, update_time
    </sql>

    <select id="findMessageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_list"/>
            FROM private_message
        WHERE conv_seq > #{last_seq}
        AND visible_to_oneself = true
        AND uid_a = #{uid_a}
        AND uid_b = #{uid_b}
        ORDER BY id ASC
    </select>

    <update id="modifyMessageStatus">
        UPDATE private_message
        SET status = #{status},
            read_status = 1,
            update_time = now()
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findMessageByStatus" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_list"/>
            FROM private_message
        WHERE visible_to_oneself = true
        AND uid_a = #{uid_a}
        AND uid_b = #{uid_b}
        AND status = #{message_status}
    </select>

    <select id="findMessageByMessageId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_list"/>
        FROM private_message
        WHERE visible_to_oneself = true
        AND uid_a = #{uid_a}
        AND uid_b = #{uid_b}
        AND id = #{id}
    </select>

    <select id="findMessageByMessageId2" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_list"/>
        FROM private_message
        WHERE visible_to_oneself = true
        AND id = #{id}
    </select>

    <select id="findAllMessageByTarget" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_list"/>
            FROM private_message
        WHERE visible_to_oneself = true
        AND uid_a = #{uid_a}
        AND uid_b = #{uid_b}
    </select>

    <update id="updateDeleteStatus">
        UPDATE private_message
        SET visible_to_oneself = #{delete},
            update_time = now()
        WHERE id IN
        <foreach collection="message_ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>